---
title: "HNELHD ASHW Report"
author: "B.Moran"
date: "9 March 2017"
output: 
 word_document:
   reference_docx: report_style.docx
---














-------------------------
 visityear   quarter   n 
----------- --------- ---
   2014         1     39 

   2014         2     50 

   2014         3     28 

   2014         4     40 

   2015         1     55 

   2015         2     53 

   2015         3     53 

   2015         4     54 

   2016         1     49 

   2016         2     41 

   2016         3     42 

   2016         4     50 

   2017         1     36 
-------------------------



![plot of chunk chart](figure/chart-1.png)


